<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.edu.mapper.DeptMapper">

    <resultMap type="com.edu.domain.DeptInfo"
        id="deptResultMap">
        <id property="deptno" column="deptno" />
        <result property="dname" column="dname" />
        <result property="loc" column="loc" />
    </resultMap>
    <insert id="addDept" 
    useGeneratedKeys="true" keyProperty="deptno"
    parameterType="com.edu.domain.DeptInfo">
        insert into dept(deptno, dname, loc) values(null, #{dname}, #{loc})
    </insert>
    
    <update id="updateDept" parameterType="com.edu.domain.DeptInfo">
       update dept set dname=#{dname}, loc=#{loc} where deptno = #{deptno}
    </update>

</mapper>